---
import GitHub from '@/components/icons/GitHub.astro'
import NextJS from '@/components/icons/NextJS.astro'
import Tailwind from '@/components/icons/Tailwind.astro'
import Eleventy from '@/components/icons/Eleventy.astro'
import Tauri from '@/components/icons/Tauri.astro'
import Link from '@/components/icons/Link.astro'
import LinkButton from '@/components/LinkButton.astro'

import { Picture } from 'astro:assets'
import DiegoPortrait from '@/assets/diego_bw.webp'

interface Tag {
  name: string
  class: string
  icon: any // Puedes especificar un tipo más detallado si conoces la estructura
}

// Definición de la interfaz para un Proyecto
interface Project {
  title: string
  description: string
  tags: Tag[]
  link?: string // '?' indica que el campo es opcional
  github?: string
  image?: string
  video?: string
  isDraft: boolean
}

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJS
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind
  },
  ELEVENTY: {
    name: '11ty',
    class: 'bg-black text-white',
    icon: Eleventy
  },
  TAURI: {
    name: 'Tauri',
    class: 'bg-[#A4A4A4] text-black',
    icon: Tauri
  },
  ASTRO: {
    name: 'Astro',
    class: 'bg-[#0D2B3E] text-white',
    icon: Picture
  },
  A11YAA: {
    name: 'WCAG AA',
    class: 'bg-[#FFD700] text-black',
    icon: Picture
  },
  TYPESCRIPT: {
    name: 'TypeScript',
    class: 'bg-[#007ACC] text-white',
    icon: Picture
  }
}

const PROJECTS: Project[] = [
  {
    title: 'Archivo fotográfico del Banco de España',
    description:
      'Desarrollo de la versión digital del archivo fotográfico del Banco de España en colaboración con Underbau. Un proyecto con una gran colección de imágenes históricas desarrollado para perdurar en el tiempo.',
    link: 'https://coleccion.bde.es/s/vap_arc/',
    video: '/BdE-sample.webm',
    tags: [TAGS.ASTRO, TAGS.A11YAA, TAGS.TYPESCRIPT],
    isDraft: false
  },
  {
    title: 'Las Manos',
    description: '',
    isDraft: true,
    tags: [TAGS.A11YAA]
  },
  {
    title: 'Unveiling Memories',
    description:
      'Un gran reto para Iberdrola y Avantgrid en el que tuvimos que trasladar mucho contenido histórico de distintas publicaciones editoriales. Diseño web, "branding" y desarrollo.',
    link: 'https://unveilingmemories.com/',
    image: '/images/unveiling-memories.webp',
    tags: [TAGS.ELEVENTY, TAGS.TAILWIND],
    isDraft: false
  },
  {
    title: 'Floralia',
    description:
      'Proyecto personal de una web app que documenta información sobre plantas de huerto y jardín. En constante desarrollo y crecimiento. Versión Beta.',
    link: 'https://floralia.app',
    image: '/images/floralia.webp',
    tags: [TAGS.ELEVENTY, TAGS.TAILWIND],
    isDraft: false
  },
  {
    title: 'Captain Canvas',
    description:
      'Aplicación de escritorio para profesionales de la impresión digital. Maqueta automáticamente imágenes en lienzos para aprovechar el espacio y material. Landing y aplicación de escritorio.',
    link: 'https://captaincanvas.app',
    image: '/blog-placeholder-2.jpg',
    tags: [TAGS.TAURI, TAGS.NEXT, TAGS.TAILWIND],
    isDraft: true
  }
]
---

<h2 class='text-3xl font-bold'>Proyectos destacados</h2>
<div class='flex flex-col gap-y-16'>
  {
    PROJECTS.filter((project) => !project.isDraft).map(
      ({ image, title, description, tags, link, github, video }) => (
        <article class='group flex flex-col space-x-0 space-y-8 md:flex-row md:space-x-8 md:space-y-0'>
          <div class='w-full md:w-1/2'>
            <div class='relative col-span-6 row-span-5 flex transform flex-col items-center gap-8 overflow-clip rounded-sm shadow-xl transition duration-500 ease-in-out sm:rounded-sm md:group-hover:-translate-y-1 md:group-hover:shadow-2xl'>
              {
                // If there is a video, show it, if not show the image
              }
              {video && (
                <video
                  src={video}
                  autoplay
                  loop
                  muted
                  playsinline
                  class='w-full object-contain object-top transition duration-500'
                />
              )}
              {image && (
                <img
                  src={image}
                  alt={title}
                  loading='lazy'
                  class='w-full object-contain object-top transition duration-500'
                />
              )}
            </div>
          </div>
          <div class='w-full md:w-1/2 md:max-w-lg'>
            <h3 class='text-balance text-2xl font-bold text-gray-800 dark:text-gray-100'>
              {title}
            </h3>
            <div class='mt-2 flex flex-wrap'>
              <ul class='mb-2 flex flex-row gap-x-2'>
                {tags.map((tag) => (
                  <li>
                    <span
                      class={`flex gap-x-2 rounded-full text-xs ${tag.class} px-2 py-1 `}
                    >
                      {
                        //<tag.icon class='size-4' />
                      }

                      {tag.name}
                    </span>
                  </li>
                ))}
              </ul>
              <div class='mt-2 text-gray-700 dark:text-gray-100'>
                {description}
              </div>

              <footer class='mt-4 flex items-end justify-start gap-x-4'>
                {github && (
                  <LinkButton asChild>
                    <a href={github}>
                      <GitHub class='size-6' />
                      Código
                    </a>
                  </LinkButton>
                )}
                {link && (
                  <LinkButton href={link} asChild>
                    <Link class='size-4' />
                    Ver proyecto publicado
                  </LinkButton>
                )}
              </footer>
            </div>
          </div>
        </article>
      )
    )
  }
</div>
